@import "../../css-config/mixins.scss";

.shop-by-category {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    font-size: 18px;
    @include md {
        margin: 75px 0;
    }
    .categories{
       
        align-items: center;
        color: rgba($color: #000000, $alpha: 0.7);
        align-items: center;
    }
        .category{
            padding: 50px;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            gap: 30px;
            justify-content: space-between;
            cursor: pointer;
            .hov{

                &:hover {
                    opacity: 0.6;
            }
            }
    }



}