@import "../../css-config/mixins.scss";
.hero-banner {
    padding: 40px 0;
    position: relative;
    background: #EFF0F4;
    @include md {
        height: calc(100vh - 40px);
    }
    .content {
        height: 100%;
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-direction: row;
        max-width: calc(100% - 20px);
        margin: 0 auto;
        position: relative;
        @include md {
            flex-direction: row;
            max-width: 1200px;
        }
        .banner-img {
            position: relative;
            z-index: 9;
            width: 400px;
            margin-bottom: 20px;
            @include md {
                width: 500px;
                margin-right: 60px;
                margin-top: 0px;
                margin-bottom: 0;
            }
            @include xxl {
                width: 600px;
                margin-right: 0;
                margin-top: 0;
            }
        }
        .text-content {
            color: black;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items:center;
           
            h1 {
                font-size: 60px;
                font-weight: 700;
                line-height: 1;
                color: black;
                margin-bottom: 20px;
                @include md {
                    font-size: 80px;
                }
            
            }
            p {
                max-width: 300px;
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 20px;
                @include md {
                    max-width: 300px;
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 40px;
                }
            }
            .ctas {
                display: flex;
                justify-content: center;
                gap: 20px;
                .banner-cta {
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 500;
                    width: fit-content;
                    border: 2px solid black;
                    padding: 10px 20px;
                    transition: all ease 0.3s;
                    cursor: pointer;
                    &.v2 {
                        
                        color: black;
                    }
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
            .social{
                display: flex;
                flex-direction: row;
                align-items: end;
                font-size: 26px;
                gap: 20px;
                padding: 10px ;
                bottom: 714px;
                left: 341px;
                cursor: pointer;


            }
        }
    }
}
